<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <h1>Todo App</h1>
    <div id="todo-table">
        <form method="post">
            <input type="text" name="item" placeholder="Add new Item..." />
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <% for (var i=0;i<todos.length;i++){ %>
                <li><%= todos[i].item %></li>
            <% } %>
        </ul>
    </div>
    <script src="/assets/todo-list.js"></script>
</body>
</html>